modem.img
boot.img
bootimg/13_dtbdump_b_klb.dtb
system/system/app/MIUIVideoPlayer/MIUIVideoPlayer.apk
system/system/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/Settings/Settings.apk
product/app/Messages/Messages.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
