modem.img
boot.img
bootimg/13_dtbdump__qcom,rtic-id.dtb
system/system/apex/com.android.vndk.current.apex
system/system/app/MiuiVideoPlayer/MiuiVideoPlayer.apk
system_ext/priv-app/Settings/Settings.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
